.vertical-tray {
    z-index: 1000;
    position: absolute;
    bottom: 90px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 13px;

    background: rgba(255, 255, 255, 0.2);
    padding: 7px;
    border-radius: 50px;

    transition: all 0.5s ease;}

.rect-btn {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.71);
}

.rect-btn:hover {
    color: rgba(255, 255, 255);
}

.vertical-tray.collapsed .rect-btn {
    display: none;
}

.music-btn {
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #c451fd, #4949fd);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.music-btn:hover {
    background: linear-gradient(to bottom, #cc6bfb, #7171fa);
    box-shadow: 0 0 10px 5px rgba(125, 50, 255, 0.39);
    transition: all 0.3s ease-in-out;
}

.music-btn span {
    font-size: 24px;
}

@media (max-width: 768px) {
    .vertical-tray {
        bottom: 60px;
        right: 60px;
    }
}

@media (max-width: 480px) {
    .vertical-tray {
        bottom: 50px;
        right: 40px;
    }
}